<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-xs-12">
    <h3>Faça sua simulação:</h3>
    <%= render 'form' %>
  </div>
  <div class="col-sm-5 col-xs-12">
    <div id="new_client"></div>
  </div>
</div>
